In [2]:
import pandas as pd

In [3]:
test = pd.read_csv('/home/peter/Documents/DSProject/Data.csv')

In [4]:
test

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [5]:
test.drop('Address', inplace=True, axis=1)

In [6]:
test

,Unnamed: 0,State Code,County Code,Site Num,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [7]:
test.drop('Unnamed: 0', inplace=True, axis=1)

In [8]:
test

,State Code,County Code,Site Num,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,13,3002,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,36.0,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,56,21,100,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,1.6,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,56,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [9]:
test.drop('State Code', inplace=True, axis=1)

In [10]:
test

,County Code,Site Num,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,13,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,13,3002,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,36.0,19,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,21,100,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,1.6,9,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,21,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [11]:
test.drop('County Code', inplace=True, axis=1)

In [12]:
test

,Site Num,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3002,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,3002,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,36.0,19,34,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,100,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,1.6,9,1,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,100,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [13]:
test.drop('Site Num', inplace=True, axis=1)

In [14]:
test

,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,36.0,19,34,Parts per million,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,1.6,9,1,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [15]:
filteredOne = test

In [16]:
startDate="2012-01-01"
endDate="2014-12-31"
afterStartDate=test["Date Local"] >= startDate
beforeEndDate=test["Date Local"] <= endDate
betweenDate=afterStartDate & beforeEndDate

In [17]:
filterDate = test.loc[betweenDate]

In [18]:
filterDate

,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1201630,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1201631,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
1201632,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
1201633,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
1201634,Arizona,Maricopa,Phoenix,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595996,Wyoming,Laramie,Not in a city,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
1595997,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
1595998,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
1595999,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
1596000,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [19]:
filteredTwo=filterDate

In [20]:
filteredTwo

,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1201630,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1201631,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
1201632,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
1201633,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
1201634,Arizona,Maricopa,Phoenix,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595996,Wyoming,Laramie,Not in a city,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
1595997,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
1595998,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
1595999,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
1596000,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [21]:
filteredTwo.to_csv(r'/home/peter/Documents/DSProject/FilteredDataTwo.csv', index=False)

In [22]:
testTwo = pd.read_csv('/home/peter/Documents/DSProject/FilteredData.csv')

In [23]:
testTwo

,Unnamed: 0,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,1201630,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,1201631,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,1201632,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,1201633,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,1201634,Arizona,Maricopa,Phoenix,2012-01-02,Parts per billion,17.208333,38.0,22,36,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,1595996,Wyoming,Laramie,Not in a city,2014-12-30,Parts per billion,7.579167,29.5,20,27,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,1595997,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,1595998,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,1595999,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,1596000,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [24]:
test3 = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataTwo.csv')

In [25]:
test3

,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,Phoenix,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,Phoenix,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,Not in a city,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,Not in a city,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [26]:
test.drop('County', inplace=True, axis=1)

In [27]:
test.drop('City', inplace=True, axis=1)

In [28]:
test3.drop('State Code', inplace=True, axis=1)

KeyError: "['State Code'] not found in axis"

In [ ]:
test3

In [ ]:
test3.drop('City', inplace=True, axis=1)

In [ ]:
test3

In [ ]:
test3 = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataThree.csv')

In [ ]:
test3.to_csv(r'/home/peter/Documents/DSProject/FilteredDataThree.csv', index=False)

In [ ]:
test4 = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataThree.csv')

In [ ]:
test4

In [ ]:
test4.loc[iddex=State]

In [ ]:
test4 = test4.drop_duplicates()

In [ ]:
test5 = test4

In [ ]:
test5.dropna(inplace=True)

In [ ]:
test5

In [ ]:
test5.dropna(inplace=True)

In [ ]:
test.head()

In [ ]:
test.info()

In [ ]:
test5.isnull()

In [ ]:
test5.info()

In [ ]:
test5.dropna(inplace=True)

In [ ]:
test5

In [ ]:
test4

In [ ]:
test5

In [ ]:
test3

In [ ]:
test6 = test3

In [ ]:
test6

In [ ]:
test6.isNull()

In [ ]:
test6.isnull()

In [ ]:
NullTest=test6

In [ ]:
NullTest.drop('NO2 AQI', inplace=True, axis=1)

In [ ]:
NullTest

In [ ]:
NullTest.dropna(inplace=True)

In [ ]:
NullTest

In [ ]:
test3

In [ ]:
test6

In [ ]:
test4

In [ ]:
test6

In [ ]:
test6

In [ ]:
test2

In [ ]:
final = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataTwo.csv')

In [ ]:
final

In [ ]:
test3 = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataThree.csv')

In [ ]:
test3

In [ ]:
test3

In [29]:
test

,State,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,O3 1st Max Value,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,Arizona,2000-01-02,Parts per billion,22.958333,36.0,19,34,Parts per million,0.013375,0.032,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,Wyoming,2016-03-30,Parts per billion,1.083333,1.6,9,1,Parts per million,0.043917,0.048,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0