In [1]:
import pandas as pd

In [31]:
test = pd.read_csv('/home/peter/Documents/DSProject/FilteredDataThree.csv')

In [3]:
test

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [4]:
col=test["SO2 AQI"]

In [5]:
maxVal=col.idxmax()

In [6]:
maxVal

64016

In [7]:
maxVal=test.max()

In [8]:
maxVal

State                          Wyoming
County                            York
Date Local                  2014-12-31
NO2 Units            Parts per billion
NO2 Mean                       79.4783
NO2 1st Max Value                156.9
NO2 1st Max Hour                    23
NO2 AQI                            111
O3 Units             Parts per million
O3 Mean                       0.083045
O3 1st Max Value                 0.122
O3 1st Max Hour                     23
O3 AQI                             218
SO2 Units            Parts per billion
SO2 Mean                       34.1143
SO2 1st Max Value                211.9
SO2 1st Max Hour                    23
SO2 AQI                            161
CO Units             Parts per million
CO Mean                        3.48571
CO 1st Max Value                 12.46
CO 1st Max Hour                     23
CO AQI                              56
dtype: object

In [10]:
test.tail(20)

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
394351,Wyoming,Laramie,2014-12-19,Parts per billion,4.300000,13.0,6,12,Parts per million,0.039375,...,Parts per billion,0.008696,0.1,14,0.0,Parts per million,0.092217,0.141,7,NaN
394352,Wyoming,Laramie,2014-12-19,Parts per billion,4.300000,13.0,6,12,Parts per million,0.039375,...,Parts per billion,0.008696,0.1,14,0.0,Parts per million,0.100000,0.100,0,1.0
394353,Wyoming,Laramie,2014-12-19,Parts per billion,4.300000,13.0,6,12,Parts per million,0.039375,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.092217,0.141,7,NaN
394354,Wyoming,Laramie,2014-12-19,Parts per billion,4.300000,13.0,6,12,Parts per million,0.039375,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0
394355,Wyoming,Laramie,2014-12-20,Parts per billion,4.437500,18.1,20,17,Parts per million,0.038875,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.073792,0.142,21,NaN
394356,Wyoming,Laramie,2014-12-20,Parts per billion,4.437500,18.1,20,17,Parts per million,0.038875,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
394357,Wyoming,Laramie,2014-12-20,Parts per billion,4.437500,18.1,20,17,Parts per million,0.038875,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.073792,0.142,21,NaN
394358,Wyoming,Laramie,2014-12-20,Parts per billion,4.437500,18.1,20,17,Parts per million,0.038875,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.100000,0.100,0,1.0
394359,Wyoming,Laramie,2014-12-29,Parts per billion,1.370833,2.3,3,2,Parts per million,0.030625,...,Parts per billion,0.000000,0.0,20,0.0,Parts per million,0.104625,0.148,23,NaN
394360,Wyoming,Laramie,2014-12-29,Parts per billion,1.370833,2.3,3,2,Parts per million,0.030625,...,Parts per billion,0.000000,0.0,20,0.0,Parts per million,0.100000,0.100,0,1.0
394361,Wyoming,Laramie,2014-12-29,Parts per billion,1.370833,2.3,3,2,Parts per million,0.030625,...,Parts per billion,0.000000,0.0,23,NaN,Parts per million,0.104625,0.148,23,NaN
394362,Wyoming,Laramie,2014-12-29,Parts per billion,1.370833,2.3,3,2,Parts per million,0.030625,...,Parts per billion,0.000000,0.0,23,NaN,Parts per million,0.100000,0.100,0,1.0
394363,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.054167,0.3,14,0.0,Parts per million,0.174917,0.281,18,NaN
394364,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.054167,0.3,14,0.0,Parts per million,0.166667,0.200,8,2.0
394365,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.174917,0.281,18,NaN
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [13]:
max=test['SO2 AQI'].average()

AttributeError: 'Series' object has no attribute 'average'

In [12]:
max

161.0

In [16]:
max=test.print("Wyoming")

AttributeError: 'DataFrame' object has no attribute 'print'

In [17]:
Wyoming

AttributeError: 'float' object has no attribute 'loc'

In [20]:
test.loc["Wyoming","State"]

KeyError: 'Wyoming'

In [25]:
test

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [28]:
test=test.loc[2]

In [29]:
test

State                          Arizona
County                        Maricopa
Date Local                  2012-01-01
NO2 Units            Parts per billion
NO2 Mean                       21.2083
NO2 1st Max Value                   33
NO2 1st Max Hour                     0
NO2 AQI                             31
O3 Units             Parts per million
O3 Mean                       0.015083
O3 1st Max Value                 0.028
O3 1st Max Hour                     11
O3 AQI                              24
SO2 Units            Parts per billion
SO2 Mean                        1.4375
SO2 1st Max Value                  4.6
SO2 1st Max Hour                     2
SO2 AQI                            NaN
CO Units             Parts per million
CO Mean                        1.18333
CO 1st Max Value                   3.3
CO 1st Max Hour                      0
CO AQI                             NaN
Name: 2, dtype: object

In [30]:
max

161.0

In [32]:
test

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
125326,Wyoming,Laramie,2012-01-01,Parts per billion,8.366667,19.3,3,18,Parts per million,0.025375,...,Parts per billion,0.330435,1.3,11,1.0,Parts per million,0.179500,0.222,5,NaN
125327,Wyoming,Laramie,2012-01-01,Parts per billion,8.366667,19.3,3,18,Parts per million,0.025375,...,Parts per billion,0.330435,1.3,11,1.0,Parts per million,0.200000,0.200,5,2.0
125328,Wyoming,Laramie,2012-01-01,Parts per billion,8.366667,19.3,3,18,Parts per million,0.025375,...,Parts per billion,0.314286,1.1,14,NaN,Parts per million,0.179500,0.222,5,NaN
125329,Wyoming,Laramie,2012-01-01,Parts per billion,8.366667,19.3,3,18,Parts per million,0.025375,...,Parts per billion,0.314286,1.1,14,NaN,Parts per million,0.200000,0.200,5,2.0
125330,Wyoming,Laramie,2012-01-02,Parts per billion,9.347826,32.5,17,30,Parts per million,0.026958,...,Parts per billion,0.252174,1.6,15,1.0,Parts per million,0.103875,0.260,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [34]:
save = test

In [35]:
test.loc[test['County'] == 'York']

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
106326,Pennsylvania,York,2012-01-01,Parts per billion,9.500000,19.0,0,18,Parts per million,0.017958,...,Parts per billion,1.083333,2.0,1,3.0,Parts per million,0.245833,0.6,1,NaN
106327,Pennsylvania,York,2012-01-01,Parts per billion,9.500000,19.0,0,18,Parts per million,0.017958,...,Parts per billion,1.083333,2.0,1,3.0,Parts per million,0.257895,0.5,5,6.0
106328,Pennsylvania,York,2012-01-01,Parts per billion,9.500000,19.0,0,18,Parts per million,0.017958,...,Parts per billion,1.075000,1.3,2,NaN,Parts per million,0.245833,0.6,1,NaN
106329,Pennsylvania,York,2012-01-01,Parts per billion,9.500000,19.0,0,18,Parts per million,0.017958,...,Parts per billion,1.075000,1.3,2,NaN,Parts per million,0.257895,0.5,5,6.0
106330,Pennsylvania,York,2012-01-02,Parts per billion,6.166667,18.0,17,17,Parts per million,0.021625,...,Parts per billion,1.375000,6.0,17,9.0,Parts per million,0.058333,0.1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375218,Pennsylvania,York,2014-12-30,Parts per billion,20.041667,33.0,19,31,Parts per million,0.012833,...,Parts per billion,1.137500,1.6,2,NaN,Parts per million,0.145833,0.3,0,3.0
375219,Pennsylvania,York,2014-12-31,Parts per billion,12.875000,27.0,4,25,Parts per million,0.024789,...,Parts per billion,2.708333,9.0,19,13.0,Parts per million,0.029167,0.3,1,NaN
375220,Pennsylvania,York,2014-12-31,Parts per billion,12.875000,27.0,4,25,Parts per million,0.024789,...,Parts per billion,2.708333,9.0,19,13.0,Parts per million,0.054167,0.2,0,2.0
375221,Pennsylvania,York,2014-12-31,Parts per billion,12.875000,27.0,4,25,Parts per million,0.024789,...,Parts per billion,2.675000,6.6,20,NaN,Parts per million,0.029167,0.3,1,NaN
375222,Pennsylvania,York,2014-12-31,Parts per billion,12.875000,27.0,4,25,Parts per million,0.024789,...,Parts per billion,2.675000,6.6,20,NaN,Parts per million,0.054167,0.2,0,2.0

In [36]:
save

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [38]:
save.loc[save['SO2 AQI'] == '161']

/home/peter/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [State, County, Date Local, NO2 Units, NO2 Mean, NO2 1st Max Value, NO2 1st Max Hour, NO2 AQI, O3 Units, O3 Mean, O3 1st Max Value, O3 1st Max Hour, O3 AQI, SO2 Units, SO2 Mean, SO2 1st Max Value, SO2 1st Max Hour, SO2 AQI, CO Units, CO Mean, CO 1st Max Value, CO 1st Max Hour, CO AQI]
Index: []

[0 rows x 23 columns]

In [39]:
save

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [40]:
save.loc[save['SO2 AQI'] == '161.0']

/home/peter/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [State, County, Date Local, NO2 Units, NO2 Mean, NO2 1st Max Value, NO2 1st Max Hour, NO2 AQI, O3 Units, O3 Mean, O3 1st Max Value, O3 1st Max Hour, O3 AQI, SO2 Units, SO2 Mean, SO2 1st Max Value, SO2 1st Max Hour, SO2 AQI, CO Units, CO Mean, CO 1st Max Value, CO 1st Max Hour, CO AQI]
Index: []

[0 rows x 23 columns]

In [41]:
save.loc[save['SO2 AQI'] == 161.0]

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
64016,Indiana,Marion,2012-06-09,Parts per billion,22.866667,26.8,0,25,Parts per million,0.048125,...,Parts per billion,13.404348,211.9,8,161.0,Parts per million,0.483333,0.7,0,NaN
64017,Indiana,Marion,2012-06-09,Parts per billion,22.866667,26.8,0,25,Parts per million,0.048125,...,Parts per billion,13.404348,211.9,8,161.0,Parts per million,0.491667,0.6,1,7.0

In [42]:
test

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [43]:
test.isna().sum()

State                     0
County                    0
Date Local                0
NO2 Units                 0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Units                  0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Units                 0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              197057
CO Units                  0
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               197210
dtype: int64

In [47]:
test['SO2 AQI'].mean()

3.110047943886394

In [48]:
test['CO AQI'].mean()

4.374440178331414

In [49]:
test['NO2 AQI'].mean()

19.900045895869624

In [50]:
test1=test

In [51]:
test1

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,NaN,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,NaN,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.116667,0.200,0,2.0

In [53]:
test1['SO2 AQI'] = test1['SO2 AQI'].fillna(3.1)

In [54]:
test1

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,NaN
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.183333,3.300,0,NaN
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,3.1,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,NaN
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.105500,0.146,2,NaN
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.116667,0.200,0,2.0

In [55]:
test1['SO2 AQI'].mean()

3.1050272459172916

In [56]:
test1['CO AQI'] = test1['CO AQI'].fillna(4.3)

In [57]:
test1

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,4.3
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.183333,3.300,0,4.3
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,3.1,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,4.3
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.105500,0.146,2,4.3
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.116667,0.200,0,2.0

In [64]:
test1['CO AQI'].mean()

4.337215464641085

In [59]:
test['NO2 AQI'].mean()

19.900045895869624

In [60]:
test1.isna().sum()

State                0
County               0
Date Local           0
NO2 Units            0
NO2 Mean             0
NO2 1st Max Value    0
NO2 1st Max Hour     0
NO2 AQI              0
O3 Units             0
O3 Mean              0
O3 1st Max Value     0
O3 1st Max Hour      0
O3 AQI               0
SO2 Units            0
SO2 Mean             0
SO2 1st Max Value    0
SO2 1st Max Hour     0
SO2 AQI              0
CO Units             0
CO Mean              0
CO 1st Max Value     0
CO 1st Max Hour      0
CO AQI               0
dtype: int64

In [61]:
test1

,State,County,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.183333,3.300,0,4.3
1,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.458333,5.0,0,7.0,Parts per million,1.152632,2.700,5,31.0
2,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.183333,3.300,0,4.3
3,Arizona,Maricopa,2012-01-01,Parts per billion,21.208333,33.0,0,31,Parts per million,0.015083,...,Parts per billion,1.437500,4.6,2,3.1,Parts per million,1.152632,2.700,5,31.0
4,Arizona,Maricopa,2012-01-02,Parts per billion,17.208333,38.0,22,36,Parts per million,0.018042,...,Parts per billion,0.416667,2.0,7,3.0,Parts per million,0.425000,0.900,7,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394366,Wyoming,Laramie,2014-12-30,Parts per billion,7.579167,29.5,20,27,Parts per million,0.025875,...,Parts per billion,0.037500,0.2,14,3.1,Parts per million,0.166667,0.200,8,2.0
394367,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.105500,0.146,2,4.3
394368,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,0,0.0,Parts per million,0.116667,0.200,0,2.0
394369,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.105500,0.146,2,4.3
394370,Wyoming,Laramie,2014-12-31,Parts per billion,4.420833,12.6,0,11,Parts per million,0.041263,...,Parts per billion,0.000000,0.0,2,3.1,Parts per million,0.116667,0.200,0,2.0

In [62]:
test1.to_csv(r'/home/peter/Documents/DSProject/FilteredDataFour.csv', index=False)